[submodule "vectorguidance"]
	path = vectorguidance
	url = git@github.com:iftahnaf/vectorguidance.git
	branch = main
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = git@github.com:pybind/pybind11.git
